.Body_Medium {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', 'serif';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: #666666;
    font-family: 'Cochin', 'Times New Roman', 'serif';
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.graphic_generic_body_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
a {
    color: #6b1a17;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #e93c00;
    text-decoration: none;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {display: inline; }
.InlineBlock {display: inline-block; }
.tinyText {
    font-size: 1px;
}
